.buttonsize {
  width: 20%;
}

#list {
  border: 3px solid black;
}

.divider {
  width: 4rem;
  padding: 0.1rem 0;
  background-color: black;
  opacity: 100%;
}

.book:nth-child(even) {
  background-color: lightblue;
}

.book:nth-child(odd) {
  background-color: white;
}
